Source: udev-config-aptosid
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Section: admin
Priority: extra
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/fullstory/udev-config-aptosid
Vcs-Git: git://github.com/fullstory/udev-config-aptosid.git

Package: udev-config-aptosid
Architecture: all
Depends: ${misc:Depends},
 udev
Breaks: xserver-xorg-core (<< 2:1.7.6.901-2)
Description: custom udev configurations for aptosid
 Configure PCI IDs and udev events needed by aptosid.
 .
 This also provides xorg.conf.d snippets to enable advanced touchpad features
 for:
  - synaptics
  - alps
  - elantech
  - appletouch
